{% extends 'base.html.twig' %}

{% block body %}

    <legend>About this website</legend>

    <div class="row">
        <p class="offset-3 col-6 mt-3">This website is based on the concept of <a href="https://www.bonjourmadame.fr/">Bonjour Madame</a> and <a href="https://www.bonjourponey.fr/">Bonjour Poney</a>, which displays differents themed pictures every day.</p>
        <p class="offset-3 col-6 mt-3">Here we do exactly the same but with beers, which is "cooler" don't you think ;) ?</p>
    </div>

{% endblock %}