{% extends 'base.html.twig' %}

{% block body %}

    <legend>The Men behind the Beer</legend>

    <div class="row about-text">
        <img alt="picture of me" src="{{ asset('img/me.png') }}" class="offset-4 col-4">
        <p class="offset-3 col-6 mt-3">There is not much very pationant to say about me:</p>
        <p class="offset-3 col-6"> I am essentially a fan and creator of role-playing games, video games, board games ... in short, a lot of fun activities in this beautiful world.</p>
        <p class="offset-3 col-6">Programming is for me a form of consecration which allows me to bring all these activities to an unequaled threshold.</p>
        <p class="offset-8 col-1">AJ</p>
    </div>

{% endblock %}