{% extends 'base.html.twig' %}

{% block body %}

    <legend class="mb-4">Submit Picture</legend>

    <p>(*) : Those fields are required.<p>

    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    <button type="submit" class="btn btn-primary offset-5 col-2">Submit</button>
    {{ form_end(form) }}

{% endblock %}