@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

@font-face {
    font-family: helenapu;
    src: url("../webfonts/Helenapu.otf");
}

legend { 
    width: 70%; border-bottom: #868686 1px solid; margin: 0 auto 24px;
}

.logo {
    max-width: 100px;
}

.title {
    font-family: 'Exo 2', sans-serif;
    font-size: 48px;
}

.modal-picture, .delay-picture, .update-picture {
    max-width:100%;
    max-height:100%;
    object-fit: contain;
}

.hidden {
    display: none;
}

.infos {
    margin: 0 auto;
    font-size: 12px;
}

.custom-file-label {
    overflow: hidden;
}

.about-text {
    font-family: helenapu;
    font-size: 24px;
}

.pagination-div {
    margin: 4px 0;
}

.previous-day {
    font-size: 16px;
}

.footer {
    margin-top: 64px;
    color: white;
    width: 100%;
    background-color: #313131;
}

.footer-infos {
    height: 160px;
}

.footer-copyright {
    width: 100%;
    background-color: #222222;
    font-size: 12px;
    padding: 16px 0 24px;
}