@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

legend { 
    width: 70%; border-bottom: #868686 1px solid; margin: 0 auto 24px;
}

.logo {
    max-width: 100px;
}

.title {
    font-family: 'Exo 2', sans-serif;
    font-size: 48px;
}

.modal-picture, .delay-picture, .update-picture {
    max-width:100%;
    max-height:100%;
    object-fit: contain;
}

.hidden {
    display: none;
}

.required {
    margin: 0 auto;
    font-size: 12px;
}

.custom-file-label {
    overflow: hidden;
}

::placeholder {
    color: gray;
    opacity: 0.5;
}