<nav id="menubar" class="collapse show">
  <ul class="pt-3 pb-2 pt-md-2 nav nav-fill navbar-dark d-flex flex-column align-items-center flex-md-row">
    <li class="nav-item">
      {% include('/components/_logo.html.twig') %}
    </li>
    <li class="nav-item">
      <a href="{{ path('index') }}" class="mr-5">
        <h1 class="title">One Day One Beer</p>
      </a>
    </li>
    <li class="nav-item">
      {% include('/components/_logo.html.twig') %}
    </li>
  </ul>
</nav>