<nav id="menubar" class="collapse show">
  <ul class="pt-3 pb-2 pt-md-2 nav nav-fill navbar-dark d-flex flex-column align-items-center flex-md-row">
    <li class="nav-item">
      {% include('/components/_logo.html.twig') %}
    </li>
    <li class="nav-item">
      <div class="title">
        <h1 class="d-flex neon justify-content-center align-self-center">One Day One Beer</p>
      </div>
    </li>
    <li class="nav-item">
      {% include('/components/_logo.html.twig') %}
    </li>
  </ul>
</nav>