<div class="row mt-5">
  <div class="offset-3 col-6">
    <p class="text-justify">No pictures to display for the moment :'(</p>
    <p class="text-justify">But you can submit a picture just <a href="{{ path('picture-submit') }}">here</a> :)</p>
  </div>
</div>